@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



h1 { 
    color:#6d6dc9 ;
    margin-left: 20px;
}

p {
    margin:20px;


}

h2 { color:#6d6dc9}

ul {
    margin-left: 20px;

}

.primeiro-banner {
    
    width: 100%;
    height: 30vh;
    background-image:url("./imagens/Norte.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.segundo-banner {

    width: 100%;
    height: 30vh;
    background-image:url("./imagens/Sul.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    padding: 15px;
    margin: 20px 0;
}
.video-youtube:hover {
    transform: scale(1.05);
    transition: .3s ease-in-out;
    }

.prefeitura {
    background-image: url(./imagens/BGS7yWri_400x400.jpg);
    width:  200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

a :visited {color:#008000}
a :hover {color:#ff0000}